
$mdc-theme-primary: #ff561c;
$mdc-theme-secondary: #ff561c;
$small-font-size: 0.81em;

@import "material-components-web/material-components-web";
@import "@material/theme/_color-palette";
@import "../css/data-table";

@mixin link-color($color, $hover-color: darken($color, 20%), $active-color: lighten($color, 20%)) {
  text-decoration: none;
  &, &:visited {
    color: $color;
  }
  &:hover {
    color: $hover-color;
  }
  &:active, &.active {
    color: $active-color;
  }
}

// layout

body {
  margin: 0;
  padding: 0;
  min-width: 320px;

}

// Fix for jumpy text on header's toolbar when a select is closed
body.mdc-select-scroll-lock {
  overflow: unset;
}

.svg-hidden {
  display: none;
}

.layout.fixed-width {
  height: 100vh;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 40px auto 40px;
  grid-template-rows: min-content 40px auto 40px 40px;
  grid-template-areas:
    "header header header"
    ".      .      .     "
    ".      main   .     "
    ".      .      .     "
    "footer footer footer";
}

.layout.full-screen {
  height: 100vh;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 30px 370px auto 40px;
  grid-template-rows: min-content 30px auto 20px 40px;
  grid-template-areas:
    "header header header header"
    "main   main   main main"
    "main   main   main main"
    "main   main   main main"
    "footer footer footer footer";
}

$margin-page: 90px;

header {
  grid-area: header;

  .mdc-toolbar__row {
    padding-left: $margin-page;
    padding-right: $margin-page;
  }

  .mdc-toolbar__title  {
    margin: 0px;
  }

  #top-row {
    min-height: 48px;
    font-size: $small-font-size;
  }

  #section-row {
    display: flex;
    justify-content: flex-start;
    * {
      margin-right: 48px;
      font-size: 16px;
    }
  }

  #title-row {
    border-top: 1px solid #3A3A3A;
    height: 108px;

    .icon {
      width: 60px;
      height: 60px;
      position: absolute;
      left: 15px;
    }
  }

  #tabs-row {
    min-height: auto;
    height: 49px;

    .mdc-tab-bar {
      margin: inherit;
    }
  }

  #main-action {
    position: absolute;
    right: $margin-page;
    bottom: -27px;
    > i {
      align-self: center;
    }
    z-index: 1;
  }

  .fab-menu {
    position: absolute;
    right: $margin-page - 10px;
    margin-top: 0;
    z-index: 0;
  }
}

main {
  grid-area: main;
  display: flex;
  flex: 1;
}

footer {
  grid-area: footer;
  padding: 14px 14px;
  border-top: 1px solid $material-color-grey-300;
  font-size: $small-font-size;
}

.layout.full-screen {
  aside#sidebar {
    z-index: 9999;
    @include mdc-elevation(2);
    background: #ffffff;
  }

  aside#sidebar.compact-sidebar {
    grid-column: 2;
    grid-row: 3;
  }

  aside#sidebar.expanded-sidebar {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
  }
}

//

h1, h2, h3 { font-weight: 400; }

// Colors overrides
body {
  background-color: #efefef;
}

header.mdc-toolbar {
  background-color: #404040;
}

#account-menu {
  @include link-color(#9a9a9a);
  display: inline-flex !important;
  .icon-dropdown{
    margin-left: 4px;
  }
}

.gray-filter {
filter: grayscale(100%);
}


#top-row a {
  @include link-color(#9a9a9a);
}

#secondary-actions-handle {
  @include link-color(#9a9a9a);
}

#tabs-row {
  .mdc-tab {
    color: white;
  }

  .mdc-tab-bar__indicator {
    background-color: $mdc-theme-primary;
  }
}
//

.card-list {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;

  .card-item {
    width: 360px;
    align-self: flex-start;
    margin: 10px;

    $card-radius: 4px;
    border-radius: $card-radius;
    img {
      border-radius: $card-radius $card-radius 0px 0px;
    }

    background-color: #ffffff;
    @include link-color(#000000);

    @include mdc-elevation(2);
    &:hover {
      @include mdc-elevation(8);
    }
    @extend .mdc-elevation-transition;

    .card-secondary {
      padding: 1em;
      h1 {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
      }
      .actions {
        justify-content: space-between;
        display: flex;
      }
      }
    }
}

.panel {
  background-color: #ffffff;
  width: 100%;
  height: min-content;
}

form.vertical, .fields-vertical {
  display: flex;
  flex-flow: column;
}

.form-actions {
  text-align: right;
}

//

/* https://github.com/material-components/material-components-web/issues/719 */

.mdc-dialog .mdc-select {
  position: relative !important;
}
.mdc-dialog .mdc-select__menu {
  top: inherit !important;
  left: inherit !important;
  max-height: calc(100vh - 64px)!important;
  margin-top: 44px;
}

.mdc-select__native-control {
  -webkit-appearance: none;
}

//

.file-input-wrapper {
  border: 1px solid #eee;
  padding: 5px;
  margin: 5px 0;
  &:hover {
    border: 1px dashed #ccc;
    background-color: #eeeeee;
  }
}

.file-input{
  color: transparent;
  width: 100px;
}

.set-list {
  .card-item {
    height: 180px;
    width: 300px;
    margin-bottom: 20px;

    h2 {
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  // Fix for map covering header's fab button and sidebar
  .leaflet-pane {
    z-index: 0;
  }
}


.option-row {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.option-context {
  color: #ddd;
  float: right;
  font-size: 13px;
  margin-left: 5px;
  margin-right: 5px;
}

.tags {
  display: inline-block;
}



/* ============= MAP PANEL ================ */

.grey-text {
  color: #9a9a9a;
}


#sidebar {
  position: relative;
  padding-bottom: 3rem;
  .section {
    padding: 1rem;
  }
  h1 {
    margin: 0;

    &.large {
      font-size: 2.5rem;
    }
    small {
      font-size: .7rem;
      text-transform: uppercase;
      display: block;
    }
    &.title-icon {
      position: relative;
      padding-right: 3rem;
      a {
        position: absolute;
        right: .8rem;
      }
    }
  }
  p {
    margin: 0;
  }
  hr {
    border: none;
    border-top: 1px solid #e6e6e6;
    margin: 0;
  }
  /*
  .btn-floating {
    position: absolute;
    right: 1rem;
    margin-top: -2.4rem;
    z-index: 2;
  }
  */

  .suggestion-list {
    max-height: 490px !important;
  }

  .scroll-list {
    max-height: 280px;
    width: 100%;
    margin-top: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
  }

  .fade {
    height: 1rem;
    width: 100%;
    position: absolute;
    margin-top: 1.5rem;
    z-index: 1;

    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,0) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 20%,rgba(255,255,255,0) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    &.inverted {
      transform: rotateX(180deg);
      margin-top: -1rem;
    }
  }
}

.icon-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  .material-icons {
    margin-right: 1rem;
    align-self: flex-start;
  }
  .icon-list-text {
    flex: 1;
  }
}

.changeset-row {
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}

.scenarios-content {
  padding: 0px;

  table {
    border-spacing: 0;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    caption{
      padding: 32px 72px;
      color: #000000;
      font-size: 20px;
      text-align: left;

    }

    thead {

      tr > th {
        border-bottom: 1px solid #ccc;
      }

      th > p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-bottom: 13px;
      }

      th.col-demand-coverage > p {
        border-bottom: 3px solid green;
        padding-bottom: 10px;
      }

      th.col-pop-without-service > p {
        border-bottom: 3px solid orange;
        padding-bottom: 10px;
      }

      th.col-pop-without-coverage > p {
        border-bottom: 3px solid red;
        padding-bottom: 10px;
      }

      th {
        color: #999999;
        text-align: left;
        padding: 24px 20px 11px 20px;
        font-weight: 500;
        font-size: 1rem;
      }
    }

    tbody tr {
      cursor: pointer;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    tr > td {
      border-bottom: 1px solid #eee;
      padding: 20px;
      height: 50px;
    }

    td.has-tooltip > p {
      border-bottom: 2px dotted #000;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // Scenarios table

    .col-state {
      width: 15%;
      text-align: left;
    }

    .col-name {
      width: 10%;
      text-align: left;
    }

    .col-demand-coverage {
      width: 15%;
      text-align: right;
    }

    .col-effort {
      width: 10%;
      text-align: right;
    }

    .col-actions {
      text-align: left;
      width: 20%;
    }

    .col-pop-without-service {
      text-align: right;
      width: 15%;
    }

    .col-pop-without-coverage {
      text-align: right;
      width: 15%;
    }

    .has-tooltip {
      position: relative;
    }

    th.has-tooltip .tooltip {
      bottom: 70%;
      text-align: left;
    }

    .has-tooltip .tooltip {
      z-index: 1;
      display: none;
      overflow: hidden;
      white-space: nowrap;
    }

    .has-tooltip:hover .tooltip {
      display: block;
      position: absolute;
      width: 160px;
      padding: 8px;
      background-color: #000;
      color: #ccc;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      white-space: initial;
    }

    // Actions table

    .col-action-icon {
      width: 24px;
      text-align: center;
    }

    .col-action-name {
      width: 20%;
      text-align: left;
    }

    .col-action-description {
      width: 70%;
      text-align: left;
    }

    .col-action-coverage {
      width: 10%;
      text-align: right;
    }
  }
}

.mdc-toolbar__title {
  .breadcrumb-menu {
    margin: -5px 0 0;
    padding: 0;

    li {
      display: inline;

      a {
        @include link-color(#9a9a9a);
      }

      i {
        color: #9e9e9e;
        transform: translateY(5px);
        transform: translateY(5px);
      }
    }
  }
}

.project-settings-section {
  display: inherit;
  flex-flow: inherit;
  margin: 0 0 50px;

  .step-header {
    h2 {
      margin-bottom: 0;
    }
  }
  .step-info {
    line-height: 1.9rem;
    margin: 1.2rem 0 3rem;
  }

  .mdc-select {
    margin-top: 16px;
    margin-bottom: 10px;
  }

  .no-provider-set-selected {
    color: rgba(0, 0, 0, 0.6);
    margin: 25px 0 0;
  }

  button {
    display: inline-flex;
    align-items: center;
    .material-icons {
      margin-right: 10px;
    }
  }
}

.project-settings-actions {
  text-align: right;

  padding: 25px 35px;
  border-top: 1px solid #e0e0e0;

  button {
    margin-left: 25px;
    &:first-child {
      float: left;
      margin: 0;
    }
  }
}

.empty-list-container {
  position: relative;
  width: 100%;

  .empty-list {
    color: #AAA;
    font-size: 24px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    button {
      background: transparent;
      color: $mdc-theme-primary;
      font-size: 26px;
      font-weight: 400;
      text-transform: inherit;
    }
  }
}

.invalid-input{
  @include mdc-text-field-ink-color(#FF5722)
}

.disable-a{
  text-decoration: none;
}

.center-download-icon{
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 16px;
  margin-right: 15px;
}

.project-setting-list {
  display: grid;
  row-gap: 18px;
  margin-bottom: 30px;
  .mdc-button {
    width: fit-content;
    height: 42px;
    padding: 6px;
    margin: 0;
    .material-icons {
      margin-right: 6px;
    }
  }
  .project-setting {
    display: flex;
    align-items: baseline;
    max-width: 554px;
    .mdc-text-field {
      height: 40px !important;
    }
    .mdc-button {
      align-self: flex-end;
      padding: 0;
      width: 36px;
      min-width: unset;
      .material-icons {
        margin: 0;
        width: 36px;
      }
    }
  }
  
  .project-setting > * {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 12px;
  }
  
  .project-setting > *:last-child {
    margin-right: 0;
    flex-grow: 1;
  }
}

.project-setting-title {
  padding: 0 6px;
  margin-top: 48px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  .material-icons {
    margin-right: 12px;
  }
}

.budget-section {
  .mdc-text-field {
    margin-top: 0 !important;
    height: 42px !important;
  }
  .add-option {
    padding-left: 0;
    .material-icons {
      margin-right: 12px;
      width: 36px;
    }
  }
  .indent {
    margin-left: 42px;
  }
  .indent > * {
    margin-right: 12px;
  }
  .indent > *:last-child {
    margin-right: 0;
  }
}

.source-type-settings {
  > p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.8rem;
    margin-bottom: 0%;
  }
}

.coverage-setting {
  p, label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.75rem;
  }
  .mdc-slider .mdc-slider__pin {
    background-color: transparent;
    color: $mdc-theme-primary;
    top: 24px;
    transform: rotate(-45deg);
    > .mdc-slider__pin-value-marker::selection {
      // remove selection color in firefox
      background-color: transparent;
    }
  }
}

.action-input {
  max-width: 100px;
}
.percentage-input {
  display: inline-flex;
  align-items: baseline;
  div {
    margin-right: 0.8rem;
    > input {
      max-width: 50px;
    }
  }
}

.capacity-input {
  max-width: 80px;
}

.prefix {
  color: #999999;
  font-style: normal;
  position: absolute;
  padding-bottom: 8px;

  + input {
    padding-left: 15px;
  }
  + .suffix {
    + input {
      padding-left: 1rem;
    }
  }
}
.suffix {
  @extend .prefix;
  left: auto;
  right: 0;
  + input {
    padding-right: 1rem;
    padding-left: 0;
  }
}

//empty projects

.md-icon-96 {
  font-size: 96px !important;
}
.message-margin{
 margin-bottom: 7px;
}
.crosshair-pointer {
  cursor: crosshair;
}

.info-computing-best-location {
  background-color: #404040;
  margin: 7px 15px;
  padding: 7px 10px;
  color: #FFF;
  font-weight: 500;
}

.suggestion-list {
  .border-btn-floating {
      margin-top: -1.8rem !important;
  }
}

.border-btn-floating {
    position: absolute;
    right: 1rem;
    margin-top: -2rem;
    z-index: 2;
    border-radius: 50%;
    padding: 3px;

    .btn-floating {
        z-index: 2;
        border: 1px solid #FFF;
        box-shadow: none;
    }
}

.border-btn-floating button {
  display: flex;
  align-items: center;
}

.border-btn-floating-animated {
    background: linear-gradient(0deg, #ff7710, #FFF, #FFF);
    animation: rotate-background .5s ease 1 forwards;

    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
}

@keyframes rotate-background {
  0% {
    background: linear-gradient(0deg, #ff7710 , #FFF, #FFF);
  }
  12% {
    background: linear-gradient(45deg, #ff7710 , #FFF, #FFF);
  }
  25% {
    background: linear-gradient(90deg, #ff7710 , #FFF, #FFF);
  }
  37% {
    background: linear-gradient(135deg, #ff7710 , #FFF, #FFF);
  }
  50% {
    background: linear-gradient(180deg, #ff7710 , #FFF, #FFF);
  }
  62% {
    background: linear-gradient(225deg, #ff7710 , #FFF, #FFF);
  }
  75% {
    background: linear-gradient(270deg, #ff7710 , #FFF, #FFF);
  }
  82% {
    background: linear-gradient(315deg, #ff7710 , #FFF, #FFF);
  }
  100% {
    background: linear-gradient(360deg, #ff7710 , #FFF, #FFF);
  }
}
.raise-alert{
  background-color: #ff561c;
  padding: 4px;
  margin-top: 32px;

  @include mdc-elevation(4);
    &:hover {
      border: 1px dashed #ff561c;
      background-color:  #ff7710;
    }
  }

.card-message{
    background-color: #FFF;
    $card-radius: 4px;
    @include mdc-elevation(1);
    @extend .mdc-elevation-transition;
    justify-content: center;

    .content {
      padding:16px;
    }
    .bottom-button{
      width: 100%;
    }
}

.leaflet-popup-content {
  > div {
    overflow: auto;
  }
  p {
    margin: 0;
  }
  h3 {
    font-weight: 500;
    font-size: 120%;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .actions {
    margin-top: 1rem;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    td {
      white-space: nowrap;
      padding: 2px 6px;
    }
    td:nth-child(2) {
      font-weight: bold;
    }
    tr:nth-child(odd) {
      background-color: #f0f0f0;
    }
  }
}

.leaflet-square-icon-gray {
  border: 1px solid rgba(211, 211, 211, 0.53) !important;
  background: rgba(189, 187, 187, 0.447);
  }

.leaflet-square-icon-green {
  border: 1px solid rgb(192, 233, 156) !important;
  background: rgb(129, 203, 83);
}

.leaflet-square-icon-yellow {
  border: 1px solid lightgoldenrodyellow !important;
  background: yellow;
}

.leaflet-square-icon-orange {
  border: 1px solid rgb(245, 208, 140) !important;
  background: orange;
}

.leaflet-square-icon-red{
  border: 1px solid lightcoral !important;
  background: red;
}

.leaflet-suggestion-icon{
  border: 3px solid orange !important;
  background: cyan;
}

.leaflet-legend-container {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 6px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 18px !important;
  .categories {
    margin-top: 6px;
    display: flex;
    align-items: flex-end;
    .category {
      width: 60px;
      .leaflet-legend-label {
        text-transform: initial;
        font-size: 10px;
        color: #999;
        line-height: 12px;
        text-align: right;
        padding-right: 2px;
        padding-bottom: 6px;
        border-right: 1px rgba(0,0,0,0.1) solid;
      }
      .leaflet-color {
        height: 6px;
        &.idle-capacity {
          background-color: #00bcd4;
        }
        &.at-capacity {
          background-color: #4caf50;
        }
        &.small-unsatisfied {
          background-color: #ffeb3b;
        }
        &.mid-unsatisfied {
          background-color: #ffc107;
        }
        &.unsatisfied {
          background-color: #ff5722;
        }
      }
    }
  }
}

.leaflet-circle-icon{
  border-radius: 50%;
  box-sizing: border-box;
  &[style] {
    margin-left: -8px !important;
    margin-top: -8px !important;
    width: 16px !important;
    height: 16px !important;
  }

  &.idle-capacity {
    background-color: #00bcd4;
    border: 1px #00727e solid;
  }
  &.at-capacity {
    background-color: #4caf50;
    border: 1px #327134 solid;
  }
  &.small-unsatisfied {
    background-color: #ffeb3b;
    border: 1px #ecca00 solid;

  }
  &.mid-unsatisfied {
    background-color: #ffc107;
    border: 1px #b88a00 solid;
  }
  &.unsatisfied {
    background-color: #ff5722;
    border: 1px #8f2100 solid;
  }
  &.not-matching {
    background-color: #999;
    border: 1px black solid;
  }
  &.selected[style] {
    width: 24px !important;
    height: 24px !important;
    margin-left: -12px !important;
    margin-top: -12px !important;
    border: 4px white solid !important;
  }
}

.leaflet-circle-for-change{
  border: 2px white solid !important;
  box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48);
}
.show-static-text {
  width: 50%;
}

.inline {
  display: inline-grid;
}

.text-helper {
  font-size: 12px;
}

.scenario-settings {
  button {
    padding: 6px;
  }
}
.scenario-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options-menu {
  padding: 10px;
  margin-left: 17rem;
}

.template-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.1);
  flex-direction: column;
  padding: 60px;

  h2 {
    color: #999999;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 45px;
  }

  i {
    font-size: 48px;
    color: #FF5722;
    display: block;
    padding: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 48px;
    height: 48px;
    width: 48px
  }

  .action {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    cursor: pointer;

    div {
      text-align: center;
      margin: 1rem 0;
    }
  }

  .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  hr {
    border: 1px solid rgba(0,0,0,0.1);
    width: calc(100% + 118px);
    margin: 60px 0;
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 6px solid #f5f5f5;
  border-top: 6px solid   #ff7710;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.wizard {
  padding-bottom: 0;
  .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-left: -25px;
    margin-right: -25px;
    padding: 5px 20px 0;
    height: 56px;

    > a {
      text-decoration: none;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      i {
        background-color: #999999;
        color: #ffffff;
        font-style: normal;
        padding: 5px 11px;
        margin-right: 10px;
        border-radius: 50%;
      }
      div {
        color: #999999;
        display: inline-block;
        &:after {
          content: "";
          position: absolute;
          height: 12px;
          min-width: 85px;
          margin-left: 10px;
          border-bottom: 1px solid rgba(0,0,0,0.1);
        }
      }
      &:last-child div:after {
        border: none;
        min-width: auto;
      }
    }

    .complete {
      i {
        background-color: $mdc-theme-primary;
      }
      div {
        color: #000000;
      }
    }
    .active {
      @extend .complete;
      font-weight: 500;
    }
    .material-icons {
      font-size: 19px;
      display: inline;
      padding: 6px;
    }
  }
  .map {
    display: flex;
    align-items: stretch;
    min-height: 500px;
    height: calc(100% + 24px);
    // min-width: 500px;
    margin: -24px -24px 0 0;
    * {
      z-index: 0;
    }

    > div {
      width: 100%;
      // height: 100%;
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.actions-table-header {
  border-bottom: 1px solid #ccc;
}

.actions-table-scenario-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  > div {
    padding: 0 1rem 0 1rem;
  }
}

.sidebar-expand-button {
  position: absolute;
  right: -24px;
  top: 1rem;

  > .sidebar-button {
    position: relative;
    min-width: 24px;
    width: 24px;
    padding: 0px;
    height: 64px;
    background-color: #404040;
    color: white;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;

    > .sidebar-button-inner {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.sidebar-search {
  position: absolute;
  background-color: #404040;
  border-radius: 0px 4px 4px 0px;
  left: 100%;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  color: white;
  > .sidebar-button {
    cursor: pointer;
  }
  input[type=text] {
    font-size: 100%;
    height: 32px;
    margin-left: 10px;
    margin-right: 4px;
    border-radius: 4px;
    padding: 0px 8px;
    background-color: #606060;
    color: white;
    border: none;
    &::placeholder {
      color: #e0e0e0;
    }
  }
  span {
    margin: 0px 4px;
  }
}

.mdc-menu__items {
  .mdc-list-item--disabled {
    cursor: default;
    color: #b0b0b0;
    pointer-events: none;
  }
}

.mdc-menu {
  z-index: 3000;
}
