/target
/logs
/classes
/checkouts
/data
pom.xml
pom.xml.asc
*.jar
*.class
/.env
/.docker-env
/.lein-*
/.nrepl-port

/.dir-locals.el
/profiles.clj
/dev/src/local.clj
/dev/resources/local.edn

*.pyc
.idea
resources/planwise/public/data/
/mapserver/data/*

/cpp/*.dSYM
/cpp/*.o
/cpp/aggregate-population
/cpp/calculate-demand

/docker-compose.override.yml

node_modules
/scripts/population/target
