@import 'defs';

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 0;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  color: $black;
  line-height: 1.5em;
  background: $gray2;
}

h1, h2, h3 {
  color: $gray3;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: $orange-text;
}

a:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  flex-wrap: nowrap;
}

.left {
  flex-grow: 1;
  text-align: left;
}

.right {
  flex-grow: 1;
  text-align: right;
}

.center {
  flex-grow: 1;
  text-align: center;
}

.small {
  font-size: 80%;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 2;
  }

  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkgray;
    opacity: 0.7;
    z-index: 1;
  }
}

.dialog {
  padding: 15px;
  background: $white;
  max-width: 500px;
  display: block;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.3);

  .title {
    background: $gray1;
    margin: -15px -15px 10px -15px;
    padding: 15px;

    h1 {
      display: inline-block;
      margin: 0;
      font-size: 18px;
    }

    button.close {
      float: right;
    }
  }

  .actions {
    background: $white;
    margin: -10px -15px -15px -15px;
    padding: 15px;
  }
}

.form-control {
  label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
  }
  &> input {
    width: 100%;
    margin: 5px 0 10px 0;
    box-sizing: border-box;
    padding: 10px 7px;
    border-radius: 2px;
    border: 1px solid $gray2;
  }
  .rc-dropdown {
    width: 100%;
    margin: 5px 0 10px 0;
    .chosen-search {
      &> input {
        width: 92%;
      }
    }
  }
}

button {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  color: $white;
  border-radius: 1px;
  border: 1px solid transparent;
  margin: 0;
  background-color: $button-color;
  border-bottom-color: $button-color-shadow;
  border-right-color: $button-color-shadow;
  position: relative;

  &[disabled] {
    background-color: lighten(desaturate($button-color, 10%), 20%);
    border-bottom-color: transparent;
    border-right-color: transparent;
  }

  & + button {
    margin-left: 15px;
  }

  &:active {
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: $button-color-shadow;
    border-left-color: $button-color-shadow;
    top: -1px;
    left: -1px;
  }

  &.primary {
    background-color: $green;
    border-bottom-color: $green-shadow;
    border-right-color: $green-shadow;
    &[disabled] {
      background-color: lighten(desaturate($button-color, 10%), 20%);
      border-bottom-color: transparent;
      border-right-color: transparent;
    }

    &:active {
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: $green-shadow;
      border-left-color: $green-shadow;
    }
  }

  &.danger {
    background-color: $orange;
    border-bottom-color: $orange-shadow;
    border-right-color: $orange-shadow;
    &[disabled] {
      background-color: lighten(desaturate($button-color, 10%), 20%);
      border-bottom-color: transparent;
      border-right-color: transparent;
    }

    &:active {
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: $orange-shadow;
      border-left-color: $orange-shadow;
    }
  }

  &.cancel {
    background-color: transparent;
    color: $gray-text;
    border:none;
    padding: 10px;
  }

  &.mini {
    background-color: $white;
    font-size: 15px;
    padding: 2px 5px;
    color: $gray-text;
    border: 1px solid transparent;
    border-bottom: 1px solid darken($white, 20%);
    border-right: 1px solid darken($white, 20%);
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;

    &:active {
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: darken($white, 20%);
      border-left-color: darken($white, 20%);
      top: -1px;
      left: -1px;
    }
  }
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  h3 {
    font-size: 18px;
    margin-top: 30px;
  }
}
