@import 'defs';

article.datasets {
  ul.collections {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
  }

  .collection-card {
    margin: 0 0 15px 0;
    border: 1px solid $gray1;
    border-radius: 3px;
    border-bottom: 2px solid $gray2;
    padding: 15px 20px;
    cursor: pointer;
    &.selected {
      background-color: $white;
    }
    &:hover {
      background-color: lighten($gray1, 5%);
    }

    h1 {
      color: $black;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
    h2 {
      font-size: 14px;
      font-weight: normal;
      color: $gray-text;
      margin: 0;
    }
    p.count {
      margin: 0;
      color: $gray3;
      font-size: 90%;
    }
  }
}

.new-dataset {
  width: 400px;
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p.warning {
    font-style: italic;
    color: $gray-text;
  }
  .loading {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .content {
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
    max-height: 350px;
    overflow: auto;
  }
}
