@import 'defs';

article.datasets {
  ul.collections {
    list-style: none;
    margin: 0 10px 0 0;
    padding: 0;
  }

  .collection-card {
    margin: 0 0 15px 0;
    border: 1px solid $gray1;
    border-radius: 3px;
    border-bottom: 2px solid $gray2;
    padding: 15px 20px;
    cursor: pointer;
    &.selected {
      background-color: $white;
    }
    &:hover {
      background-color: lighten($gray1, 5%);
    }

    h1 {
      color: $black;
      font-size: 16px;
      font-weight: bold;
      margin: 0;
    }
    h2 {
      font-size: 14px;
      font-weight: normal;
      color: $gray-text;
      margin: 0;
    }
    p.count {
      margin: 0;
      color: $gray3;
      font-size: 90%;
    }
  }
}

.dataset-list {
  list-style: none;
  padding: 0;
  position: absolute;
  top: $search-box-height + 18px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  overflow: auto;

  .dataset-card {
    position: relative;
    height: 75px;
    color: $black;
    background: $white;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    h1 {
      font-weight: bold;
      font-size: 16px;
      color: $black;
      margin: 0;
    }
    h2 {
      font-weight: normal;
      font-size: 14px;
      margin: 0 0 10px;
    }
    p {
      color: $gray-text;
      fill: $gray-text;
      margin: 0;
    }

    .bottom-right {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    .dataset-status {
      .icon-small {
        vertical-align: bottom;
      }
      &.warning {
        cursor: pointer;
        color: $orange;
        fill: $orange;
      }
      &.cancelled {
        color: $orange;
        fill: $orange;
      }
      &.error {
        color: $red;
        fill: $red;
      }
    }

    .popover {
      pointer-events: none;
      .popover-content {
        padding: 10px;
        ul {
          padding: 0;
          list-style-type: none;
        }
      }
    }

    .progress-bar {
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: lighten($orange, 40%);
      .progress-filled {
        height: 3px;
        background-color: $orange;
      }
    }

    .delete {
      visibility: hidden;
    }

    &:hover .delete {
      visibility: visible;
    }
  }
}

.new-dataset {
  width: 400px;
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  p.warning {
    font-style: italic;
    color: $gray-text;
  }
  .loading {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .content {
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
    max-height: 350px;
    overflow: auto;
  }
}
