$orange: #ff8400;
$orange-shadow: darken($orange, 20%);
$green: #819f51;
$green-shadow: darken($green, 20%);
$white: #ffffff;
$black: #333333;
$gray1: #eeeeee;
$gray2: #dddddd;
$gray3: #666666;
$button-color: #aaaaaa;
$button-color-shadow: darken($button-color, 20%);
$gray-text: #888888;
$orange-text: darken($orange, 10%);