$orange: #ff8400;
$orange-shadow: darken($orange, 20%);
$red: #ff2200;
$green: #819f51;
$green-shadow: darken($green, 20%);
$white: #ffffff;
$black: #222222;
$gray1: #eeeeee;
$gray2: #dddddd;
$gray3: #666666;
$gray4: #484848;
$gray5: #888888;
$gray6: #999999;
$button-color: #aaaaaa;
$button-color-shadow: darken($button-color, 20%);
$gray-text: $gray3;
$orange-text: darken($orange, 10%);
$semi-bold: 500;

$search-box-height: 42px;
