@import 'defs';

$header-height: 60px;
$footer-height: 20px;

html, body {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  z-index: 10;
  background-color: transparent;;
  opacity: 0.6;
  font-size: 10px;
  overflow: hidden;
  pointer-events: none;

  .version {
    margin: 0 5px;
  }
}

article {
  position: absolute;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  display: flex;
  flow-direction: row;
  background-color: white;

  .logo {
    flex-grow: 0;
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 45px;
    display: inline-block;
    height: 40px;
    margin: ($header-height - 40px) / 2;

    h1 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 10px 10px;
      color: $gray3;
    }
  }

  a,
  a:hover {
    text-decoration: none;
    color: $gray3;
  }

  nav {
    margin-top: 20px;
    flex-grow: 2;
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 14px;
    }
    li {
      margin: 0;
      list-style: none;
      display: inline-block;
      margin-right: 40px;
      padding-bottom: 16px;
      box-sizing: border-box;
      border: none;
      border-bottom: 3px solid transparent;

      &.active,
      &.active:hover {
        border: none;
        border-bottom: 3px solid $green;
        a {
          color: $green;
        }
      }

      &:hover {
        border-bottom: 3px solid fade-out($green, 0.5);
        transition: border 0.3s;
      }

      a,
      a:hover {
        padding: 0px;
        text-decoration: none;
      }
    }
  }

  .user-info {
    flex-grow: 0;
    margin-top: 20px;
    margin-right: 10px;
  }
}

#loading {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  h3 {
    font-size: 28px;
    margin: 0;
  }
  p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $gray-text;
    font-size: 24px;
  }
}
