.leaflet-tile-pane > .leaflet-layer {
  mix-blend-mode: multiply;
}

.leaflet-overlay-pane {
  mix-blend-mode: multiply;
}

.legend {
  background-color: $white;
  color: $gray-text;
  padding: 15px 0 10px 20px;
  text-transform: uppercase;
  width: 200px;

  .title {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .color-scale {
    font-size: 14px;

    div {
      display: inline-block;
    }

    .color-bar {
      background-color: #DCDFD7;
      height: 15px;
      width: 60%;
      margin: 0 10px 0 10px;
      position: relative;
      top: 2px;

      :first-child {
        height: 100%;
        width: 100%;
        opacity: 0.6;

        // this gradient should be kept in sync with mapserver's class definitions.
        background: linear-gradient(to right, #FFC800 0%,#FFC700 8%,#FFC100 20%,#FFAA00 39%,#FF8500 59%,#FF0800 100%);
      }
    }
  }
}