.leaflet-tile-pane > .leaflet-layer {
  mix-blend-mode: multiply;
}

.leaflet-overlay-pane {
  mix-blend-mode: multiply;
}


.legend {
  background-color: $white;
  color: $gray-text;
  padding: 15px 0 10px 20px;
  text-transform: uppercase;
  width: 200px;

  .title {
    font-size: 11px;
    margin-bottom: 10px;
  }
  .color-scale {
    font-size: 14px;

    .category.c1 { background-color: #FFDC00; }
    .category.c2 { background-color: #FFC100; }
    .category.c3 { background-color: #FFAD00; }
    .category.c4 { background-color: #FF8500; }
    .category.c5 { background-color: #FF0800; }

    &.collapsed {
      div {
        display: inline-block;
      }

      .color-bar {
        background-color: #DCDFD7;
        height: 15px;
        width: 60%;
        margin: 0 10px 0 10px;
        position: relative;
        top: 2px;
        display: inline-flex;
        flex-wrap: nowrap;

        .category {
          height: 100%;
          flex-grow: 1;
          opacity: 0.6;
        }
      }
    }

    &.expanded {
      .categories {
        list-style-type: none;
        padding-left: 15px;

        .category {
          height: 15px;
          width: 16px;
          display: inline-block;
          margin-right: 15px;
          position: relative;
          top: 2px;
        }
      }
    }
  }
}

.legend {
  .collapsed {
    display: block;
  }
  .expanded {
    display: none;
  }
}

.legend:hover {
  .collapsed {
    display: none;
  }
  .expanded {
    display: block;
  }
}