.playground {
  .header {
    display: flex;
    flex-direction: row;
    > div {
      margin: 5px 20px;
    }
    span {
      text-align: left;
      margin-left: 5px;
    }
  }
  .body {
    position: absolute;
    top: 30px;
    bottom: 20px;
    left: 0;
    right: 0;

    > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .threshold-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
  }

  .threshold-control input, .threshold-control span {
    display: block;
  }

  .threshold-control input {
    flex-grow: 10;
  }

  .threshold-control span {
    flex-grow: 1;
  }
}
