@import 'defs';

$project-head-height: 110px;
$project-sidebar-width: 300px;
$search-box-height: 42px;
$project-header-left-margin: 15px;

.search-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  background-color: $gray1;
  height: $search-box-height;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  z-index: 4;

  > div {
    border-right: 1px solid $gray2;
    margin-right: 10px;
    padding-right: 10px;
    text-align: right;
    padding: 10px 15px 5px 10px;
    min-width: 5em;
    white-space: nowrap;
  }

  input[type=search] {
    display: block;
    flex-grow: 10;
    padding: 5px;
    border: none;
    background: transparent;
    margin-right: 10px;
  }
}

.empty-list {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 20px;
    color: $gray3;
    font-weight: bold;
    margin: 30px 0;
  }
}

.projects-list {
  list-style: none;
  padding: 0;
  position: absolute;
  top: $search-box-height + 18px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  overflow: auto;

  .project-card {
    overflow: auto;
    color: $black;
    background: $white;
    margin: 20px;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    .project-card-content {
      padding: 15px;
      display: inline-block;
      float: left;

      .project-stats {
        .stat {
          color: $gray4;
          float: left;
          margin-top: 10px;
          margin-right: 45px;

          .stat-title {
            font-size: 10px;
            text-transform: uppercase;
          }

          .stat-value {
            font-size: 20px;
          }
        }
      }

      .project-card-footer {
        clear: both;
        color: $gray3;
        fill: $gray3;
        padding-top: 12px;
        font-size: 13px;
      }
    }

    h1 {
      font-weight: bold;
      font-size: 16px;
      color: $black;
      margin: 0;
    }
    h2 {
      font-weight: normal;
      font-size: 14px;
      margin: 0;
    }

    .map-preview {
      float: right;
    }
  }
}

.loading-indicator {
  position: absolute;
  left: initial;
  right: 20px;
  bottom: 25px;

  z-index: 10;

  width: 180px;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: $gray3;
  border-radius: 4px;

  font-weight: $semi-bold;
  color: $gray1;
}

.loading-wheel {
  display: inline-block;

  position: relative;
  top: 15%;

  margin-right: 12px;
}

.loading-legend {
  display: inline-block;

  position: relative;
  top: -6%;

  font-size: 14px;
}

.circular {
  width: 30px;
  height: 30px;

  animation: rotate 2s linear infinite;
  transform-origin: center center;
}

.path {
  stroke: $orange;
  stroke-width: 6px;
  stroke-dasharray: 30, 70;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

article.project-view {
  .project-header {
    background: $gray1;
    height: $project-head-height;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);

    h2 {
      color: $black;
      padding: 25px 0 0 $project-header-left-margin;
      font-size: 20px;
      font-weight: normal;
      margin: 0;
      display: inline-block;
    }
    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &> span {
        color: $gray-text;
        font-style: italic;
      }
    }
    ul {
      margin-top: 8px;
      margin-left: 10px;
      padding: 5px;

      div {
        display: inline-block;
      }

      &.wizard > li {
        margin-right: 0px;
      }

      li {
        display: inline-block;
        margin-right: 30px;
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid transparent;
        padding-bottom: 12px;


        .wizard-number {
          display: inline-block;
          border-radius: 50%;

          width: 15px;
          height: 22px;

          line-height: 21px;
          padding-left: 8px;
          margin-left: 3px;
          margin-right: 5px;
        }

        .separator {
          width: 30px;
          height: 1px;
          display: inline-block;
          background-color: $gray2;
          margin: 0px 8px 4px 8px;
        }

        .wizard-check {
          width: 25px;
          height: 25px;

          vertical-align: middle;
        }

        &.unvisited, &.unvisited.active, &.unvisited.active:hover {
          a, a:hover {
            color: $gray1;
          }
          .wizard-number {
            background-color: $gray2;
          }
          span {
            color: $gray2;
          }
        }
        &.visiting, &.visiting.active, &.visiting.active:hover {
          a, a:hover {
            color: $gray1;
          }
          .wizard-number {
            background-color: $green;
          }
          span {
            color: $green;
          }
        }
        &.visited, &.visited.active, &.visited.active:hover {
          a, a:hover {
            color: $gray4;
          }
          .wizard-number {
            background-color: black;
          }
          span {
            color: $gray4;
          }
        }
        &.unvisited.active, &.visited.active,
        &.visiting.active, &.unvisited.active:hover,
        &.visited.active:hover, &.visiting.active:hover,
        &.unvisited:hover, &.visiting:hover, &.visited:hover {
          border-bottom-color: transparent;
        }

        &.active,
        &.active:hover {
          border-bottom: 3px solid $green;
          a,
          a:hover {
            color: $green;
            fill: $green;
          }
        }

        &:hover {
          border-bottom: 3px solid fade-out($green, 0.5);
          transition: border 0.3s;
        }

        a,
        a:hover {
          text-decoration: none;
          color: $gray3;
          fill: $gray3;
          font-size: 14px;
        }
      }
    }
    nav {
      display: flex;
      flex-direction: row;
      ul {
        flex: 5;
      }
      li {
      }
      > div {
        text-align: right;
        font-size: 14px;
        margin-right: 5px;
      }
    }
  }

  .map-container {
    position: absolute;
    top: $project-head-height;
    bottom: 0;
    right: 0;
    left: $project-sidebar-width;

    > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  aside {
    position: absolute;
    top: $project-head-height;
    left: 0;
    width: $project-sidebar-width;
    bottom: 0;
    overflow: auto;
    background-color: $gray1;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    z-index: 1;

    h3 {
      font-size: 16px;
    }
  }
}

.progress-bar {
  height: 12px;
  display: block;
  background: $white;
  margin: 5px 0px;
  padding: 0;

  .progress-filled {
    background: $gray3;
    display: block;
    height: 12px;
    transition: width 1s;
  }
}

.nav-buttons {
  margin: 40px auto auto auto;
  &.both {
    padding-left: 10px;
  }
  &.just-one {
    width: 50%;
  }

  .nav-button {
    width: 120px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;

    font-size: inherit;
    font-weight: inherit;

    background: transparent;
    border: none;

    &.next {
      background-color: $green;
      svg {
        fill: white;
      }
    }

    &.prev {
      svg {
        fill: $gray4;
      }
    }

    .next-button-text {
      line-height: 22px;
      color: white;
    }

    .prev-button-text {
      line-height: 22px;
      color: $gray4;
    }
  }
}
.sidebar-filters {
  background-color: $gray1;

  .filter-info {
    background-color: $gray2;
    padding: 20px 15px 10px 15px;
    p {
      margin: 0 0 10px 0;
      color: $black;
      font-size: 15px;
      line-height: 1.5;
    }

    .demographic-stats {
      color: $gray4;
      .stat {
        display: inline-block;
        margin-right: 35px;
        margin-bottom: 15px;

        .stat-title {
          text-transform: uppercase;
          font-size: 10px;
        }
        .stat-value {
          font-size: 16px;
        }
      }
    }

    .facilities-stats {
      color: $gray4;
      margin-top: 20px;
      font-style: italic;
    }
  }
  fieldset {
    padding: 45px 10px 10px 12px;
    border: none;
    border-top: 1px solid $gray2;
    position: relative;

    hr {
      color: $gray2;
    }

    legend {
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      top: 15px;
      left: 10px;
    }

    > div {
      line-height: 2em;
      input[type=checkbox] {
        margin-right: 5px;
        margin-top: 7px;
        float: right;
      }
      .filter-colour {
        height: 10px;
        width: 10px;
        display: inline-block;
        border-radius: 50%;
        margin-right: 5px;
      }
    }

    .rc-dropdown {
      width: 85%;
    }

    .icon {
      width: 30px;
      height: 30px;
      fill: $gray3;
      vertical-align: middle;
      margin: 0 5px;
    }
  }
}

.new-project {
  width: 470px;
  .leaflet-container {
    margin: 10px -15px;
  }
}

$project-share-width: 450px;
$project-share-user-li-height: 21px;
$project-share-user-li-padding: 6px;
$project-share-user-count: 5;

.dialog.share {
  height: 500px;
  width: $project-share-width;

  .share-link {
    width: $project-share-width - 55px;
    color: $green;
  }

  .icon-medium {
    vertical-align: middle;
  }

  button.primary {
    width: 160px;
  }

  .shares {
    p {
      font-weight: bold;
      margin: 10px 0 0 0;
    }

    ul {
      list-style: none;
      padding: 5px 0;
      margin: 0 0 10px 0;
      height: $project-share-user-count * (1 + $project-share-user-li-height + 2 * $project-share-user-li-padding);
      overflow: auto;

      li {
        height: $project-share-user-li-height;
        padding: $project-share-user-li-padding 3px;
        border-bottom: 1px solid $gray1;
        button {
          padding: 0;
          vertical-align: bottom;
          float: right;
          visibility: hidden;
        }

        &:hover {
          background-color: $gray1;
          button {
            visibility: visible;
          }
        }
      }
    }
  }
}

.option-context {
  color: $gray5;
  float: right;
  font-size: 12px;
  margin-right: 5px;
}

.highlighted .option-context {
  color: $white;
}
