@import 'defs';

$project-head-height: 110px;
$project-sidebar-width: 300px;
$search-box-height: 42px;

.search-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  background-color: $gray1;
  height: $search-box-height;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  z-index: 4;

  > div {
    border-right: 1px solid $gray2;
    margin-right: 10px;
    padding-right: 10px;
    text-align: right;
    padding: 10px 15px 5px 10px;
    min-width: 5em;
    white-space: nowrap;
  }

  input[type=search] {
    display: block;
    flex-grow: 10;
    padding: 5px;
    border: none;
    background: transparent;
    margin-right: 10px;
  }
}

.empty-list {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 20px;
    color: $gray3;
    font-weight: bold;
    margin: 30px 0;
  }
}

.projects-list {
  list-style: none;
  padding: 0;
  position: absolute;
  top: $search-box-height + 18px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  overflow: auto;

  .project-card {
    overflow: auto;
    color: $black;
    background: $white;
    margin: 20px;
    padding: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    .project-card-content {
      padding: 15px;
      display: inline-block;

      .project-stats {
        .stat {
          color: $gray4;
          float: left;
          margin-top: 10px;
          margin-right: 45px;

          .stat-title {
            font-size: 10px;
            text-transform: uppercase;
          }

          .stat-value {
            font-size: 20px;
          }
        }
      }

    }

    h1 {
      font-weight: bold;
      font-size: 16px;
      color: $black;
      margin: 0;
    }
    h2 {
      font-weight: normal;
      font-size: 14px;
      margin: 0;
    }

    .map-preview {
      float: right;
      height: 144px;
    }
  }
}

.loading-indicator {
  position: absolute;
  left: initial;
  right: 20px;
  bottom: 25px;

  z-index: 10;

  width: 170px;
  height: 45px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: #666666;
  border-radius: 4px;

  font-weight: 500;
  color: #bababa;
}

.loading-wheel {
  display: inline-block;

  position: relative;
  top: 15%;

  margin-right: 12px;
}

.loading-legend {
  display: inline-block;

  position: relative;
  top: -6%;

  font-size: 14px;
}

.circular {
  width: 30px;
  height: 30px;

  animation: rotate 2s linear infinite;
  transform-origin: center center;
}

.path {
  stroke: #ff7800;
  stroke-width: 6px;
  stroke-dasharray: 30, 70;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}

@keyframes rotate{
  100%{
    transform: rotate(360deg);
  }
}

article.project-view {
  .project-header {
    background: $gray1;
    height: $project-head-height;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    h2 {
      color: $black;
      padding: 25px 0 15px 15px;
      font-size: 20px;
      font-weight: normal;
      margin: 0;
    }
    ul {
      margin-top: 8px;
      margin-left: 10px;
      padding: 5px;
      li {
        display: inline-block;
        margin-right: 30px;
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid transparent;
        padding-bottom: 12px;

        &.active,
        &.active:hover {
          border-bottom: 3px solid $green;
        }

        &:hover {
          border-bottom: 3px solid fade-out($green, 0.5);
          transition: border 0.3s;
        }

        a,
        a:hover {
          text-decoration: none;
          color: $gray3;
          font-size: 14px;
        }
      }
    }
    nav {
      display: flex;
      flex-direction: row;
      ul {
        flex: 5;
      }
      li {
      }
      > div {
        text-align: right;
        font-size: 14px;
        margin-top: 13px;
        > a {
          margin-right: 10px;
        }
      }
    }
  }

  .map-container {
    position: absolute;
    top: $project-head-height;
    bottom: 0;
    right: 0;
    left: $project-sidebar-width;

    > div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  aside {
    position: absolute;
    top: $project-head-height;
    left: 0;
    width: $project-sidebar-width;
    bottom: 0;
    overflow: auto;
    background-color: $gray1;
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    z-index: 1;

    h3 {
      font-size: 16px;
    }
  }
}

.progress-bar {
  height: 12px;
  display: block;
  background: $white;
  margin: 5px 0px;
  padding: 0;

  .progress-filled {
    background: $gray3;
    display: block;
    height: 12px;
    transition: width 1s;
  }
}

.sidebar-filters {
  background-color: $gray1;

  .filter-info {
    background-color: $gray2;
    padding: 20px 15px 10px 15px;
    p {
      margin: 0 0 10px 0;
      color: $black;
      font-size: 15px;
      line-height: 1.5;
    }

    .demographic-stats {
      color: $gray4;
      .stat {
        display: inline-block;
        margin-right: 35px;
        margin-bottom: 15px;

        .stat-title {
          text-transform: uppercase;
          font-size: 10px;
        }
        .stat-value {
          font-size: 16px;
        }
      }
    }
  }
  fieldset {
    padding: 45px 10px 10px 12px;
    border: none;
    border-top: 1px solid $gray2;
    position: relative;

    legend {
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      top: 15px;
      left: 10px;
    }

    > div {
      input[type=checkbox] {
        margin-right: 5px;
      }
    }

    .rc-dropdown {
      width: 100%;
    }
  }
}

.new-project {
  .leaflet-container {
    margin: 10px -15px;
  }
}
