@import '_errors';

$orange: #ff8400;
$green: #819f51;
$white: #ffffff;
$black: #333333;
$gray1: #eeeeee;
$gray2: #dddddd;

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: $black;
  line-height: 1.5em;
  background: $gray2;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  flex-wrap: nowrap;

  button {
    font-size: 80%;
    line-height: 1.5;
  }
}

.left {
  flex-grow: 1;
  text-align: left;
}

.right {
  flex-grow: 1;
  text-align: right;
}

.center {
  flex-grow: 1;
  text-align: center;
}

.small {
  font-size: 80%;
}

.threshold-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.threshold-control input, .threshold-control span {
  display: block;
}

.threshold-control input {
  flex-grow: 10;
}

.threshold-control span {
  flex-grow: 1;
  text-align: right;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  flow-direction: row;
  background-color: white;

  .logo {
    flex-grow: 1;
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 45px;
    display: inline-block;
    height: 40px;
    margin: 5px;

    h1 {
      font-size: 20px;
      margin: 5px 10px;
      color: #666;
    }
  }

  a,
  a:hover {
    text-decoration: none;
    color: #666;
  }

  nav {
    margin-top: 10px;
    flex-grow: 2;
    ul {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 14px;
    }
    li {
      margin: 0;
      list-style: none;
      display: inline-block;
      margin-right: 20px;
      padding-bottom: 10px;
      box-sizing: border-box;
      border: none;
      border-bottom: 3px solid transparent;

      &.active,
      &.active:hover {
        border: none;
        border-bottom: 3px solid $green;
      }

      &:hover {
        border-bottom: 3px dotted $green;
      }

      a,
      a:hover {
        padding: 10px;
        text-decoration: none;
      }
    }
  }
}

.search-box {
  padding: 10px;
  display: flex;
  flex-direction: row;
  background-color: $gray1;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);

  > div {
    border-right: 1px solid $gray2;
    margin-right: 10px;
    padding-right: 10px;
  }

  input[type=search] {
    display: block;
    flex-grow: 10;
  }
}

.empty-list {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  .modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 2;
  }

  .backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: darkgray;
    opacity: 0.7;
    z-index: 1;
  }
}

.dialog {
  padding: 15px;
  background: $white;
  max-width: 400px;
  display: block;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);

  .title {
    background: $gray1;
    margin: -15px -15px 10px -15px;
    padding: 10px;

    h1 {
      display: inline-block;
      margin: 0;
      font-size: 16px;
    }

    button.close {
      float: right;
      border: none;
      background: transparent;
      font-size: 15px;
    }
  }

  .actions {
    background: $white;
    margin: 10px -15px -15px -15px;
    padding: 10px;
  }
}

.form-control {
  label {
    display: inline-block;
    width: 100px;
  }
}

.playground-controls {
  display: flex;
  flex-direction: row;
  &> div, select {
    margin: 5px 20px;
  }
  span {
    text-align: left;
    margin-left: 5px;
  }
}
