@import '_errors';

$orange: #ff8400;
$green: #819f51;

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background: #efefef;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  flex-wrap: nowrap;

  button {
    font-size: 80%;
    line-height: 1.5;
  }
}

.left {
  flex-grow: 1;
  text-align: left;
}

.right {
  flex-grow: 1;
  text-align: right;
}

.center {
  flex-grow: 1;
  text-align: center;
}

.small {
  font-size: 80%;
}

.threshold-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.threshold-control input, .threshold-control span {
  display: block;
}

.threshold-control input {
  flex-grow: 10;
}

.threshold-control span {
  flex-grow: 1;
  text-align: right;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  flow-direction: row;
  background-color: white;

  .logo {
    flex-grow: 1;
    background-image: url('/images/logo.png');
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 45px;
    display: inline-block;
    height: 40px;
    margin: 5px;

    h1 {
      font-size: 20px;
      margin: 5px 10px;
      color: #666;
    }
  }

  a,
  a:hover {
    text-decoration: none;
    color: #666;
  }

  nav {
    margin-top: 10px;
    flex-grow: 2;
    ul {
      margin: 0;
      padding: 0;
      font-weight: bold;
      font-size: 14px;
    }
    li {
      margin: 0;
      list-style: none;
      display: inline-block;
      margin-right: 20px;
      padding-bottom: 10px;
      box-sizing: border-box;
      border: none;
      border-bottom: 3px solid transparent;

      &.active,
      &.active:hover {
        border: none;
        border-bottom: 3px solid $green;
      }

      &:hover {
        border-bottom: 3px dotted $green;
      }

      a,
      a:hover {
        padding: 10px;
        text-decoration: none;
      }
    }
  }
}
