.error-page body {
    background: #eee;
}

.error-page h1 {
    margin: 15% 0 0 0;
    text-align: center;
    font-size: 42px;
    color: #900;
}

.error-page h2 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    color: #333;
}

body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  /* max-width: 900px; */
  margin: 0 auto;
  padding-top: 50px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.actions {
  display: flex;
  flex-wrap: nowrap;

  button {
    font-size: 80%;
    line-height: 1.5;
  }
}

.left {
  flex-grow: 1;
  text-align: left;
}

.right {
  flex-grow: 1;
  text-align: right;
}

.center {
  flex-grow: 1;
  text-align: center;
}

.small {
  font-size: 80%;
}

.threshold-control {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.threshold-control input, .threshold-control span {
  display: block;
}

.threshold-control input {
  flex-grow: 10;
}

.threshold-control span {
  flex-grow: 1;
  text-align: right;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 49px;
  border-bottom: 1px solid #88f;
  display: flex;
  flow-direction: row;
  background-color: #eef;

  h1 {
    font-size: 20px;
    flex-grow: 1;
    margin: 10px;
  }
}

nav {
  margin-top: 10px;
  flex-grow: 2;
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0;
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    box-sizing: border-box;
    border: 1px solid transparent;

    &.active,
    &.active:hover {
      background-color: #cdf;
    }

    &:hover {
      border: 1px dashed #8df;
    }

    a,
    a:hover {
      padding: 10px;
      text-decoration: none;
    }
  }
}