{:duct.core/environment :development
 :duct.core/include ["planwise/config"]

 :duct.module/cljs {:main cljs.user}

 :duct.server/figwheel
 {:reload-clj-files false
  :builds [{:id "dev"
            :source-paths ["dev/src" "src"]
            :build-options {:main cljs.user
                            :output-to "target/resources/planwise/public/js/main.js"
                            :output-dir "target/resources/planwise/public/js"
                            :asset-path "/js"
                            :closure-defines {goog.DEBUG true
                                              "re_frame.trace.trace_enabled_QMARK_" true}
                            :verbose false
                            :preloads [devtools.preload]
                            :optimizations :none}}]}

 :duct.compiler/sass
 {:output-style :nested}

 :duct.module/sql
 {:database-url #duct/env ["DATABASE_URL" Str :or "jdbc:postgresql://localhost:5433/planwise?user=planwise&password=planwise"]}

 :planwise.auth/jwe-secret
 "12345678901234567890123456789012"

 :planwise.auth/cookie-secret
 "1234567890123456"

 :planwise.component/runner
 {:bin #duct/env ["BIN_PATH" Str :or "cpp/"]}

 :planwise.component/mailer
 {:config {:mock? true}}

 :planwise.component/maps
 {:config {:facilities-capacity 1000000}}}
