{:duct.core/environment :development
 :duct.core/include ["planwise/config"]

 :duct.module/sql
 {:database-url #duct/env ["DATABASE_URL" Str :or "jdbc:postgresql://localhost:5433/planwise?user=planwise&password=planwise"]}

 :planwise.auth/base-secret
 "0102030405060708090a0b0c0d0e0f101112131415161718191a1b1c1d1e1f20"

 :planwise.component/runner
 {:bin #duct/env ["BIN_PATH" Str :or "cpp/"]}

 :planwise.component/mailer
 {:config {:mock? true}}

 :planwise.component/maps
 {:config {}}}
