{:duct.module/sql
 {:database-url #duct/env ["TEST_DATABASE_URL" :or "jdbc:postgresql://localhost:5433/planwise-test?user=planwise&password=planwise"]}

 :planwise.test/logger
 {}

 :planwise.test/db-pre-setup
 {:db #ig/ref :duct.database/sql}

 :planwise/ragtime
 ["migrations"]

 :duct.migrator/ragtime
 {:migrations ^:replace #ig/ref :planwise/ragtime
  :pre-run #ig/ref :planwise.test/db-pre-setup}

 :planwise.test/fixtures
 {:db #ig/ref :duct.database/sql
  :pre-run #ig/ref :duct/migrator}}
