{:duct.core/environment :production

 :duct.module/logging {}
 :duct.module/sql
 {:database-url #duct/env ["DATABASE_URL" Str :or "jdbc:postgresql://localhost:5433/planwise?user=planwise&password=planwise"]}

 :duct.core/include ["planwise/core"]}
