{:duct.core/project-ns  planwise

 ;; Database

 :planwise.database/migrations
 ["migrations"]

 :planwise.database/pre-init
 {:db #ig/ref :duct.database/sql}

 :duct.migrator/ragtime
 {:migrations ^:replace #ig/ref :planwise.database/migrations
  :pre-init             #ig/ref :planwise.database/pre-init}

 ;; Components

 :planwise.component/coverage
 {:db          #ig/ref :duct.database/sql
  :file-store  #ig/ref :planwise.component/file-store
  :runner      #ig/ref :planwise.component/runner}

 :planwise.component/engine
 {:providers-set #ig/ref :planwise.component/providers-set
  :sources-set   #ig/ref :planwise.component/sources
  :coverage      #ig/ref :planwise.component/coverage
  :regions       #ig/ref :planwise.component/regions
  :runner        #ig/ref :planwise.component/runner
  :file-store    #ig/ref :planwise.component/file-store}

 :planwise.component/file-store
 {:data-path     #duct/env ["DATA_PATH" Str :or "data/"]}

 :planwise.component/jobrunner
 {:concurrent-workers #duct/env ["CONCURRENT_WORKERS" Int :or 2]}

 :planwise.component/mailer
 {:config {:sender        #duct/env ["MAILER_SENDER" Str :or "planwise@instedd.org"]
           :smtp          {:host #duct/env ["SMTP_HOST" Str]
                           :user #duct/env ["SMTP_USER" Str]
                           :pass #duct/env ["SMTP_PASS" Str]
                           :ssl  #duct/env ["SMTP_SSL" Bool]
                           :port #duct/env ["SMTP_PORT" Int]}}}

 :planwise.component/maps
 {:config {:mapserver-url #duct/env ["MAPSERVER_URL" Str :or "http://localhost:5002/mapcache?"]
           :data          #duct/env ["DATA_PATH" Str :or "data/"]}}

 :planwise.component/projects2
 {:db             #ig/ref :duct.database/sql
  :providers-set  #ig/ref :planwise.component/providers-set
  :scenarios      #ig/ref :planwise.component/scenarios}

 :planwise.component/providers-set
 {:db             #ig/ref :duct.database/sql
  :coverage       #ig/ref :planwise.component/coverage}

 :planwise.component/regions
 {:db             #ig/ref :duct.database/sql}

 :planwise.component/runner
 {:bin            #duct/env ["BIN_PATH" Str :or "bin/"]
  :scripts        #duct/env ["SCRIPTS_PATH" Str :or "scripts/"]}

 :planwise.component/scenarios
 {:db             #ig/ref :duct.database/sql
  :providers-set  #ig/ref :planwise.component/providers-set
  :sources-set    #ig/ref :planwise.component/sources
  :engine         #ig/ref :planwise.component/engine
  :jobrunner      #ig/ref :planwise.component/jobrunner
  :coverage       #ig/ref :planwise.component/coverage}

 :planwise.component/sources
 {:db          #ig/ref :duct.database/sql}

 :planwise.component/users
 {:db          #ig/ref :duct.database/sql}}
